<<<<<<< HEAD
/* Footer */
.footer {
    margin-top: 94px;
    width: 100%;
}

.footer__parrafo {
=======
.main__container {
    position: fixed;
    margin-left: 30px;
    top: 50%;
    transform: translate(0, -50%);
}

.container__logos {
    width: 80px;
    height: 80px;
    background: var(--bg-primary);
    border-radius: 50%;
    margin-bottom: 42px;
}

.container__logos:hover {
    background: var(--bg-hover);
}

.redes__app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image__app {
    cursor: pointer;
    width: 40px;
    height: 30px;
}
/* Main-content */
.main__article {
    width: 64%;
    margin: 0 auto;
    margin-top: 54px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* Galery */
.article__figure {
    width: 300px;
    height: 360px;
    margin-bottom: 54px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
}
/* Image */
.figure__image {
    cursor: pointer;
}
/* Descriptión-image */
.figure__figcaption {
>>>>>>> eed5e42bc3e5bf01c95fa53d9b517782a3d02b49
    text-align: center;
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: 300;
    margin-bottom: 30px;
}
