*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variables */
:root {
    --bg-primary: #28292D;
    --bg-hover: #3EA9F3;
    --font-primary: font-family: 'Lato', sans-serif;
    --border-color: 2px solid blue;
    --box-shadow: 0px 4px 4px rgba(8, 43, 225, 0.25);
}