/* Footer */
.footer {
    margin-top: 94px;
    width: 100%;
}

.footer__parrafo {
    text-align: center;
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: 300;
    margin-bottom: 30px;
}
